In [86]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
import math
from sklearn.linear_model import LinearRegression #remember, this is linear regression model from sk-learn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [87]:
df = pd.read_csv('Speed_Dating_Data.csv',encoding ='unicode_escape')
df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

I've made an overview that sorts all variables compared to 'dec_o', the value we want to predict (desicion by partner)

In [88]:
df.corr().loc['dec_o'].sort_values(ascending=False).head(20)

dec_o       1.000000
match       0.522326
like_o      0.513399
attr_o      0.486885
fun_o       0.414276
shar_o      0.400501
prob_o      0.310299
intel_o     0.216704
sinc_o      0.209811
them_cal    0.198699
amb_o       0.183216
prob        0.150767
date_3      0.134340
attr5_3     0.114940
expnum      0.111123
numdat_3    0.109153
fun3_s      0.108846
fun3_2      0.106129
attr3_1     0.090991
fun3_3      0.090432
Name: dec_o, dtype: float64

In [89]:
df_2 = df[['age','dec_o','match','like_o', 'attr_o','fun_o','shar_o','prob_o']]
df_2 = df_2.dropna()
df_2

       age  dec_o  match  like_o  attr_o  fun_o  shar_o  prob_o
0     21.0      0      0     7.0     6.0    8.0     6.0     4.0
1     21.0      0      0     8.0     7.0    7.0     5.0     4.0
2     21.0      1      1    10.0    10.0   10.0    10.0    10.0
3     21.0      1      1     7.0     7.0    8.0     8.0     7.0
4     21.0      1      1     8.0     8.0    6.0     7.0     6.0
...    ...    ...    ...     ...     ...    ...     ...     ...
8373  25.0      1      0     6.0    10.0    2.0     5.0     1.0
8374  25.0      0      0     2.0     6.0    3.0     2.0     2.0
8375  25.0      0      0     2.0     2.0    2.0     1.0     1.0
8376  25.0      1      0     6.0     5.0    5.0     6.0     4.0
8377  25.0      1      0     8.0     8.0    7.0     7.0     5.0

[7090 rows x 8 columns]

Create a dataframe with the selected variables, just for the sake of making it easy and have a bit more oversight of what is in the dataframe.

In [90]:
from sklearn.preprocessing import normalize #get the function needed to normalize our data.

X = df_2[['age','match','like_o', 'attr_o','fun_o','shar_o','prob_o']] #create the X matrix
X = normalize(X) #normalize the matrix to put everything on the same scale
y = df_2['dec_o'] #create the y-variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) #split the data, store it

Spliting the dataframe in a 70/30 train & test set for the creation of the model.

In [91]:
from sklearn.neighbors import KNeighborsClassifier #the object class we need

knn = KNeighborsClassifier(n_neighbors=3) #create a KNN-classifier with 5 neighbors (default)
knn = knn.fit(X_train, y_train) #this fits the k-nearest neigbor model with the train data
knn.score(X_test, y_test) #calculate the fit on the test data

0.7428302773859896

Training the model with the nearest neigbor method and testing the model with the test set.

In [92]:
from sklearn.neighbors import KNeighborsClassifier #the object class we need

knn = KNeighborsClassifier(n_neighbors=3) #create a KNN-classifier with 5 neighbors (default)
knn = knn.fit(X_train, y_train) #this fits the k-nearest neigbor model with the train data
knn.score(X_train, y_train) #calculate the fit on the test data

0.8545234737054201

This is a quick reflection with the train set to see the difference of the train and test set. There is a decrease of 10% prediction value but 75% is still a decent precentage to predict a yes or no question.

In [93]:
from sklearn.metrics import confusion_matrix
y_test_pred = knn.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_test_pred) #creates a "confusion matrix" of the test set
cm

array([[960, 243],
       [304, 620]], dtype=int64)

Creating a confusion materix.

In [94]:
from sklearn.metrics import confusion_matrix
y_train_pred = knn.predict(X_train) #the predicted values
cm1 = confusion_matrix(y_train, y_train_pred) #creates a "confusion matrix of the train set
cm1

array([[2540,  283],
       [ 439, 1701]], dtype=int64)

Again, confusion materix of the train set just for reference. To get a better understanding what the model is providing for us to interpretation.

In [95]:
#In order to read it easily , let's make a dataframe out of it, and add labels to it.
conf_matrix = pd.DataFrame(cm, index=['Match', 'No_match'], columns = ['Match_p', 'No_match_p']) 
conf_matrix

          Match_p  No_match_p
Match         960         243
No_match      304         620

In [96]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.76      0.80      0.78      1203
           1       0.72      0.67      0.69       924

    accuracy                           0.74      2127
   macro avg       0.74      0.73      0.74      2127
weighted avg       0.74      0.74      0.74      2127

On this use case I would argue that precision is the most useful. It's more important to know how precise we can predict instead of being off how 'many' cases you can predict.